@page
@model Acxess.Web.Pages.Catalog.AccessTiers.EditModel
@{
    ViewData["Title"] = "Editar Nivel de Acceso";
}


<div class="max-w-2xl mx-auto py-8">
    <div class="bg-white shadow rounded-lg overflow-hidden">
        <partial name="_Edit" model="Model" />
    </div>
</div>