@page
@model Acxess.Web.Pages.Catalog.AccessTiers.IndexModel
@{
    ViewData["Title"] = "Gestión de Niveles de Acceso";
}

<div class="flex items-center justify-between mb-6 gap-8">
    <div class="w-full  relative">
        <input type="text" name="Search" placeholder="Buscar" 
               class="input-field pl-9"
               value="@Model.Search"
               hx-get
               hx-page-url="true"
               hx-target="#table-container"
               hx-trigger="keyup changed delay:400ms">
        <svg class="absolute left-3 top-2.5 h-4 w-4 text-slate-400" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd" />
        </svg>
    </div>
    
    <button class="btn-primary  max-w-xs" 
            @@click="$dispatch('open-slide', { url: '/Catalog/AccessTiers/Create' })">
        Nuevo Nivel de Acceso
    </button>
</div>

<div 
    id="table-container" 
    class="bg-white dark:bg-[#151b28] border border-slate-200 dark:border-slate-800 rounded shadow-sm overflow-hidden"
    hx-get 
    hx-page-handler="OnGet" 
    hx-trigger="refreshTable from:body">
    <partial name="_Table" model="Model" />
</div>