@import "tailwindcss";

@theme {
  /* Definimos la fuente Inter como la default sans */
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}