@import "tailwindcss";

body { font-family: 'Inter', sans-serif; }
/* Tooltip personalizado al hacer hover en el menu */
.tooltip {
    visibility: hidden; position: absolute; left: 100%; top: 50%; transform: translateY(-50%);
    background-color: #1e293b; color: white; padding: 4px 8px; border-radius: 4px;
    font-size: 12px; white-space: nowrap; z-index: 50; margin-left: 10px; opacity: 0; transition: opacity 0.2s;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.tooltip::before {
    content: ""; position: absolute; top: 50%; right: 100%; margin-top: -5px;
    border-width: 5px; border-style: solid; border-color: transparent #1e293b transparent transparent;
}
.menu-item:hover .tooltip { visibility: visible; opacity: 1; }

/* Estilo para indicar módulo activo */
.active-module { border-left: 4px solid #3b82f6; background-color: #1e293b; color: #60a5fa; }
.inactive-module { border-left: 4px solid transparent; color: #94a3b8; }
.inactive-module:hover { background-color: #1e293b; color: white; }

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #0078d4; 
  --color-primary-hover: #106ebe;
  
  --color-slate-850: #1e293b; 
}

@layer base {
  /* html {
    font-family: "Segoe UI", ui-sans-serif, system-ui, sans-serif;
    font-size: 15px; 
  } */

  body {
    @apply bg-slate-100 text-slate-900 antialiased;
  }

  :root.dark body {
    @apply bg-[#0b0f19] text-slate-200; 
  }
}

@layer components {
  .input-field {
    @apply w-full rounded border border-slate-300 bg-white px-3 py-2 text-sm text-slate-900 shadow-sm transition-colors
           placeholder:text-slate-400
           focus:border-primary focus:outline-none focus:ring-1 focus:ring-primary 
           disabled:cursor-not-allowed disabled:bg-slate-50 disabled:text-slate-500
           dark:border-slate-700 dark:bg-slate-900 dark:text-white dark:focus:ring-offset-0;
  }

  .btn-primary {
    @apply flex w-full justify-center rounded bg-primary px-3 py-2 text-sm font-medium text-white shadow-sm 
           hover:bg-primary-hover 
           focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary
           transition-all active:scale-[0.98] cursor-pointer;
  }
  
  .card {
    @apply bg-white dark:bg-slate-900 shadow-sm border border-slate-200 dark:border-slate-800 rounded;
  }
  
  .nav-item-active {
    @apply bg-slate-800 text-white border-l-4 border-primary;
  }
  
  .nav-item-inactive {
    @apply text-slate-400 hover:bg-slate-800 hover:text-white border-l-4 border-transparent transition-colors;
  }
}