@model Acxess.Web.Pages.Catalog.AddOns.CreateModel
@{ Layout = null; }
<div id="slide-over-container" class="h-full flex flex-col bg-white dark:bg-[#151b28] shadow-xl">

    <div class="flex items-center justify-between px-4 py-6 border-b border-slate-200 dark:border-slate-800">
        <h2 class="text-lg font-semibold text-slate-900 dark:text-white">Nuevo Complemento</h2>
     
        <button 
            hx-get="@Url.Page("Create")" 
            hx-target="#slide-over-container" 
            hx-swap="outerHTML"
            @@click="open = false" 
            class="text-slate-400 hover:text-slate-500 cursor-pointer">
            <span class="sr-only">Cerrar</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>
    </div>

</div>