@page
@model Acxess.Web.Pages.Catalog.AddOns.CreateModel
@{
    ViewData["Title"] = "Nuevo Complemento";
}
<div class="max-w-2xl mx-auto py-8">
    <div class="bg-white shadow rounded-lg overflow-hidden">
        <partial name="_Create" model="Model" />
    </div>
</div>