@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome to Acxess</h1>
</div> *@

@* <button class="btn-primary cursor-pointer">All</button>


<div class="space-y-8 p-10">
    
    <div x-data="{ cuenta: 0 }" class="p-6 border rounded-lg shadow-md max-w-sm">
        <h3 class="text-lg font-bold mb-2">Contador Alpine</h3>
        
        <p class="mb-4">
            Valor actual: <span x-text="cuenta" class="font-mono text-2xl text-primary font-bold"></span>
        </p>

        <div class="flex gap-2">
            <button @@click="cuenta++" class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600">
                Sumar +
            </button>
            <button @@click="cuenta = 0" class="px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-600">
                Reset
            </button>
        </div>
    </div>

    <div x-data="{ abierto: false }" class="p-6 border rounded-lg shadow-md max-w-sm">
        <div class="flex justify-between items-center mb-2">
            <h3 class="text-lg font-bold">Información Secreta</h3>
            
            <button @@click="abierto = !abierto" class="text-blue-500 hover:underline text-sm">
                <span x-text="abierto ? 'Ocultar' : 'Mostrar'"></span>
            </button>
        </div>

        <div x-show="abierto" x-transition class="bg-yellow-50 p-4 rounded text-yellow-800 text-sm">
            👻 ¡Aquí está el contenido oculto! Alpine maneja esto sin llamar al servidor.
        </div>
    </div>

</div>


<div class="p-10">
    <div class="p-6 border rounded-lg shadow-md max-w-sm">
        <h3 class="text-lg font-bold mb-4">Prueba HTMX</h3>
        
        <button 
            hx-get="?handler=DameLaHora" 
            hx-target="#resultado"
            hx-indicator="#cargando"
            class="px-4 py-2 bg-indigo-600 text-white rounded hover:bg-indigo-700 w-full flex justify-center items-center gap-2">
            
            <span>Pedir hora al servidor</span>
            
            <svg id="cargando" class="htmx-indicator w-5 h-5 text-white animate-spin" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
        </button>

        <div id="resultado"></div>
    </div>
</div> *@